{# templates/app/home.html.twig #}

{% extends "base.html.twig" %}

{% block title %} Blog Accueil {% endblock %}

{% block body %}

    <h1> Page d'accueil</h1>

    <ul>
        {% for article in articles %}
            <li> {{ article.title }} [ <a href="{{ path('article_show', { article: article.id })}}">Lire</a> ] </li>
        {% endfor %}
    </ul>

{% endblock %}
