{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}

    <div class="container-fluid">
        <a href="{{ path('category_index') }}" class="text-danger"><i class="fa fa-angle-double-left mr-1"></i>Retour à la liste</a>

        <h1>Modifier une catégorie</h1>

        {{ include('category/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <div class="card border-danger text-danger text-center mt-4" style="width: 15rem;">
            <p>Pour supprimer la catégorie : </p>
            {{ include('category/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
