{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}

    <div class="container-fluid">
        <h1>Créer une nouvelle catégorie</h1>

        {{ include('category/_form.html.twig') }}

        <a href="{{ path('category_index') }}" class="text-danger"><i class="fa fa-angle-double-left mr-1"></i>Retour à la liste</a>
    </div>
{% endblock %}
