{# templates/article/show.html.twig #}

{% extends "base.html.twig" %}

{% block title %} Blog - Article {{ article.id }} {% endblock %}

{% block body %}

    <h1> {{ article.title }} </h1>

    <p> {{ article.content}} </p>

{% endblock %}