{# templates/article/show.html.twig #}

{% extends "base.html.twig" %}

{% block title %} Blog - Article {{ article.id }} {% endblock %}

{% block body %}

    <div class="container-fluid">
        <h1> {{ article.title }} </h1>
        <p> {{ article.content}} </p>
        <a href="{{ path('article_edit', {id: article.id}) }}" class="btn btn-outline-danger">Modifier</a>
    </div>

{% endblock %}