{# templates/articles/index.html.twig #}

{% extends "base.html.twig" %}

{% block title %} Blog - Articles {% endblock %}

{% block body %}

    <h1> Page de tous les articles</h1>

    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint, doloribus labore accusantium atque culpa temporibus. Magni, doloremque eligendi! Cum vel animi non enim ullam aliquam quae qui laudantium debitis doloremque. </p>

{% endblock %}