* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #F5efe0;
    margin: 0%;
    overflow-x: hidden;
}

h1 {
    display: none;
}

h2, h3 {
    font-family: 'Lucida Handwriting', 'Lucida Sans', Verdana, sans-serif;
    color: white;
    border-radius: 30px;
    font-size: 1.5em;
}

img {
    width: 100%;
}

ul, li {
    display: block;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

i {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.violet {
    color: #800080;
}
.gris {
    color: #595959;
}
.rose {
    color: #bd22b5;
}
.bleu {
    color: #6dc4b8;
}

.backviolet {
    background: #800080;
}
.backgris {
    background: #595959;
}
.backrose {
    background: #bd22b5;
}
.backbleu {
    background: #6dc4b8;
}


/* **** HEADER **** */
header {
    height: 8%;
    z-index: 2000;
    background: #F5efe0;
}

#headermenu {
    background: #F5efe0;
    position: fixed;
	width: 50%;
	height: 50%;
	right:0;
	top:0;
    display: none;
    font-weight: bold;
    border-left: 2px solid #6dc4b8;
    border-bottom: 2px solid #6dc4b8;
}


/* **** MAIN **** */
#welcome, #me, #projects, #contact {
    min-height: 100vh;
}

#welcome p {
    text-transform: capitalize;
    font-size: 2em;
}

.down {
    border-radius: 50%; 
    opacity: 0.8;   
}

#me p {
    font-size: 0.8em;
}

.moi i, .parcours i, .projets i, .blog i {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 12px;
}

.blog i {
    background: url('../img/blog.jpg');
    transform: rotateY(180deg);
}

.nav-tabs .nav-link {
    border: 1px solid #800080;
    color: #800080;
    border-radius: 20px;
}

.nav-tabs .nav-link.active {
    background-color: #800080;
    color: white;
    border-radius: 20px;
}

.tab-content {
    height: 40vh;
    background: lightgrey;
}

.discover {
    color: white;
    border-radius: 30px;
}


/* **** FOOTER **** */


/* **** MEDIA QUERY **** */
