<!DOCTYPE html>

<title>New RestaurantPicture</title>

{% block body %}
    <h1>Create new RestaurantPicture</h1>

    {{ include('restaurant_picture/_form.html.twig') }}

    <a href="{{ path('restaurant_picture_index') }}">back to list</a>
{% endblock %}
