{% extends 'base.html.twig' %}

{% block title %}Modification Restaurant{% endblock %}

{% block body %}

    <div class="container-fluid">
        <a class="text-success" href="{{ path('restaurant_index') }}"><i class="fa fa-angle-double-left">  Retour</i></a>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="container text-center my-3">
                <h1>Modifier le restaurant</h1>
            </div>
            <div class="container d-flex justify-content-between">
                {{ include('restaurant/_form.html.twig', {'button_label': 'Update'}) }}
                {{ include('restaurant/_delete_form.html.twig') }}
            </div>
        </div>
    </div>

{% endblock %}