<!DOCTYPE html>

<title>New Restaurant</title>

{% block body %}
    <h1>Create new Restaurant</h1>

    {{ include('restaurant/_form.html.twig') }}

    <a href="{{ path('restaurant_index') }}">back to list</a>
{% endblock %}
